{{> head}}
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      {{> navbar}}
      {{> sidenav}}
      
      <div class="content-wrapper">
        {{> headerPageContent}}
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="card">

                  <!-- card-header -->
                  <div class="card-header">
                    <h3 class="card-title">Informacion de los {{titleHeader}}</h3>
                    <button class="btn btn-success float-right" data-toggle="modal" data-target="#addPedido">
                      <i class="nav-icon fas fa-plus-circle"></i>
                    </button>
                    <div class="modal fade" id="addPedido" role="dialog" tabindex="-1" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                          <form action="/lista/pedidos" method="POST">
                            <div class="modal-header bg-secondary">
                              <h5 class="modal-title" id="staticBackdropLabel">Realizar pedido</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <div class="card">
                                <div class="card-header">
                                  <div class="form-group row">
                                    <label for="staticEmail" class="col-sm-3 col-form-label">Nombre: </label>
                                    <select class="col-form-control col-sm-3" name="userPedido">
                                      <option selected disabled>Seleccione...</option>
                                      {{#each usuarios}}
                                        <option value="{{id}}">{{nombre}}</option>
                                      {{/each}}
                                    </select>
                                    <label for="staticEmail" class="col-sm-4 col-form-label">Codigo Pedido: </label>
                                    <label for="staticEmail" class="col-sm-2 col-form-label">COD002</label>
                                  </div>
                                  <div class="form-group row">
                                    <label for="staticEmail" class="col-sm-3 col-form-label">Cedula: </label>
                                    <input type="text" class="col-sm-3 col-form-control" id="cedulaPedido" disabled>
                                    <label for="" class="col-sm-3 col-form-label">Celular: </label>
                                    <input type="text" class="col-sm-3 col-form-control" id="celularPedido" disabled>
                                  </div>
                                  {{!-- <div class="form-group row">
                                    <button class="btn btn-primary col-sm-12 col-form-control">Buscar</button>
                                  </div> --}}
                                </div>
                                <div class="card-body">
                                  <div class="col-lg-12 mb-5">
                                    <button type="button" class="btn btn-success float-right" onclick="addCompra()" id="btnAddCompra">
                                      <i class="nav-icon fas fa-plus-circle"></i>
                                    </button>
                                  </div>
                                  <div class="table-responsive">
                                    <table class="table table-striped">
                                      <thead class="thead-dark">
                                        <tr>
                                          <th>Producto</th>
                                          <th>Valor Unitario</th>
                                          <th>Cantidad</th>
                                          <th>Valor Total</th>
                                        </tr>
                                      </thead>
                                      <tbody id="tableAddProductoPedido">
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                                <div class="card-footer">
                                  <div class="row">
                                    <div class="col-lg-12">
                                      <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input" name="chckPedido">
                                        <label class="form-check-label" for="exampleCheck1">Pedido finalizado</label>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-lg-12">
                                      <label for="" class="col-lg-3 col-form-label-lg float-lg-left">Total a pagar: </span></label>
                                      <div class="col-lg-9 input-group float-lg-left">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text">$</span>
                                        </div>
                                        <input type="number" class="form-control" name="vTotalPedido" value="0">
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                              {{!-- <button type="submit" class="btn btn-primary">Guardar Cambios</button> --}}
                              <button type="button" class="btn btn-primary" id="guardarPedido">Guardar Cambios</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /.card-header -->

                  <div class="card-body">
                    <div class="table-responsive">
                      <table id="pedidosTable" class="table table-striped">
                        <thead class="thead-dark">
                          <tr>
                            <th>Cod. Pedido</th>
                            <th>Valor Total</th>
                            <th>Usuario</th>
                            <th>Celular</th>
                            <th>Estado</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          {{#each listaPedidos}}
                            <tr>
                              <td>{{valor}}</td>
                              <td>${{vTotal}} </td>
                              <td>{{nombreCompleto}}</td>
                              <td>{{celular}}</td>
                              <td><span class="badge badge-pill badge-primary">{{estadoName}}</span></td>
                              <td>
                                <button class="btn btn-info rounded-circle" data-toggle="modal" data-target="#detailPedido{{pedido_id}}" onclick="detallePedido({{pedido_id}})">
                                  <i class="nav-icon fas fa-info-circle"></i>
                                </button>
                                <label for="detalles">detalles</label>
                              </td>
                            </tr>
                            <!-- Modal Detalle Pedido -->
                            <div class="modal fade" id="detailPedido{{pedido_id}}" data-backdrop="static" data-keyboard="false" tabindex="-1">
                              <div class="modal-dialog modal-dialog-centered modal-lg">
                                <div class="modal-content">
                                  <div class="modal-header bg-secondary">
                                    <h5 class="modal-title" id="staticBackdropLabel">Detalle del pedido de <b>{{nombreCompleto}}</b></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <div class="card">
                                      <div class="card-header">
                                        <div class="row">
                                          <label for="staticEmail" class="col-sm-3 col-form-label">Nombre: </label>
                                          <label for="" class="col-sm-3 col-form-label">{{nombreCompleto}}</label>
                                          <label for="staticEmail" class="col-sm-3 col-form-label">Celular: </label>
                                          <label for="" class="col-sm-3 col-form-label">{{celular}}</label>
                                        </div>
                                        <div class="row">
                                          <label for="staticEmail" class="col-sm-3 col-form-label">Codigo: </label>
                                          <label for="" class="col-sm-3 col-form-label">{{valor}}</label>
                                          <label for="staticEmail" class="col-sm-3 col-form-label">Estado: </label>
                                          <select class="custom-select col-sm-3" name="estadoPedidoRealizado">
                                            <option selected disabled>{{estadoName}}</option>
                                          </select>
                                        </div>
                                      </div>
                                      <div class="card-body">
                                        <div class="row">
                                          <label for="" class="col-lg-3 border p-1 bg-gradient-gray">Produc.</label>
                                          <label for="" class="col-lg-3 border p-1 bg-gradient-gray">V. unitario</label>
                                          <label for="" class="col-lg-3 border p-1 bg-gradient-gray">Cantidad</label>
                                          <label for="" class="col-lg-3 border p-1 bg-gradient-gray">V. total</label>
                                        </div>
                                        <div id="reccoridoDataProductosPedidos"></div>
                                      </div>
                                      <div class="card-footer">
                                        <div class="row">
                                          <div class="col-lg-12">
                                            <label for="" class="float-lg-right">Total pedido: $<span id="spanValorTPedido"></span> </label>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-primary">Guardar Pedido</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          {{/each}}
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
            </div>
          </div>
        </section>
      </div>

      {{> footerContent}}

    </div>

{{> foot}}